:root {
    --azul1: #2b4c7e;
    --azul2: #567ebb;
    --branco: #dce0e6;
    --cinza: #606d80;
    --preto: #1f1f20;
    --verde: #2eb8ac;
    --vermelho: #99173c;

    --fonte: 'Raleway', sans-serif;
}

body {
    background-color: var(--azul1);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte);
    min-height: 100vh;
    color: whitesmoke;
}