:root {
    --amarelo1: #ffab07;
    --amarelo2: #e9d558;
    --branco: #dce0e6;
    --cinza: #434d53;
    --verde1: #72ad75;
    --verde2: #0e8d94;
    --preto: #1f1f20;

    --fonte: 'Nunito', sans-serif;
}

body {
    background-color: var(--verde1);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte);
    min-height: 100vh;
    color: whitesmoke;
}