:root {
    --azul: #abdfec;
    --azul2: #0e6e94;
    --rosa: #ead1cb;
    --branco: #dce0e6;
    --cinza: #657275;
    --marrom: #af9c98;
    --verde: #0e8d94;
    --verde2: #16ac7a;
    --preto: #1f1f20;
    --vermelho: #e74949;

    --fonte: 'Bebas Neue', cursive;
}

body {
    background-image: linear-gradient(to bottom right, var(--verde), white);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte);
    min-height: 100vh;
    color: whitesmoke;
}