@import url(_reset.css);
@import url(_style.css);

header {
    height: 100px;
    text-align: center;
}

header p{
    color: var(--azul);
    font-size: 2rem;
    font-weight: 700;
    margin: 2.5rem 0;
}